{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Альпинисты</title>

    <link href="/css/index.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <form action="/" method="GET" class="form">
        <input value="{{.country}}" type="search" id="filter" name="name" size="10" required placeholder="Введите страну..." maxlength="50"/>
    </form>
    <button id="button" name="name" type="button"></button>
</div>

<section class="cards scrolling-wrapper">
    {{range .alpinists}}
        {{template "card_item" .}}
    {{end}}
</section>

</body>
</html>
{{end}}

