<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.alpinist.Name}}</title>

    <link href="/css/card.css" rel="stylesheet">

</head>
<body>
   <section>
    <h1>{{.alpinist.Name}}</h1>
    <div class="img">
    <a href="#"><img src="{{.alpinist.BigImageRef}}"
       alt="Img"></a>
    </div>
    <div class="content">
        {{.alpinist.Description}}
    </div>
  </section>

  <div class="attribution">
        {{.alpinist.Country}}
  </div>

</body>
</html>