{{template "base" .}}

{{define "card_item"}}


<article class="card card--1">
    <div class="card__img" style="background-image: url('{{.ImageRef}}');"></div>
    <a href="/service/{{.ID}}" class="card_link">
        <div class="card__img--hover" style="background-image: url('{{.ImageRef}}');"></div>
    </a>
    <div class="card__info">
        <span class="card__category">{{.Country}}</span>
        <h3 class="card__title">{{.Name}}</h3>
        <span class="card__by"><a href="#" class="card__author" title="author">{{.Lifetime}}</a></span>
    </div>
</article>
<form action="/service/delete" method="GET">
    <button name="name" value="{{.ID}}"></button>
</form>
{{end}}
